doctype 5
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/style.css", media="screen")
		link(rel="stylesheet", href="/css/bootstrap.min.css", media="screen")
		link(rel="stylesheet", href="/css/jquery.fileupload-ui.css", media="screen")
		link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css", media="screen")
		link(rel="stylesheet", href="/css/font-awesome.min.css", media="screen")
		script(src="http://code.jquery.com/jquery.js")
		script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
		script(src="/js/bootstrap.js")
		script(src="/js/vendor/jquery.ui.widget.js")
		script(src="/js/jquery.iframe-transport.js")
		script(src="/js/jquery.fileupload.js")
		script(src="/js/zoomood.common.js")
		//- For HTML version
		//- script(src="/js/jquery.zoomooz.min.js")
		//- script(src="/js/jquery.transform2d.js")
		//- script(src="/js/zoomood.html.js")

		//- For Canvas version
		script(src="/js/fabric.js")
		script(src="/js/zoomood.canvas.js")
	body
		block content