// Libs
@import "../../lib/open-sans/css/open-sans.min.css";
@import "../../lib/font-awesome/css/font-awesome.min.css";
@import "../../lib/bootstrap/dist/css/bootstrap.min.css";
@import "../../lib/toastr/toastr.less";

// Vars
@import "globals/variables";

// Modules
@import "modules/canvas";
@import "modules/splash-screen";

body {
  background: url(@backgroundImageUrl) repeat top left;
  font-family: 'Open Sans';
  font-weight: 300;
}

code {
  background-color: rgba(0,0,0,0.1);
  color: #000;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

h2 {
  font-weight: 800;
}

.btn {
  border-radius: 0;
  &:active {
    box-shadow: none;
  }
}

.fileupload {
  display: none;
}

.top-toolbar {
  height: 55px;
  background-color: transparent;
  z-index: 9999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 10px 10px 5px;

}

.bottom-toolbar {
  height: 55px;
  background-color: transparent;
  z-index: 9999;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 10px 5px;

}

.btn {
  transition: color 0.2s, border-color 0.2s;
  height: 35px;
  line-height: 32px;
  padding: 0 15px;
  color: @btn-color;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid @btn-color;
  &:hover {
    cursor: pointer;
    color: @btn-color-hover;
    border-bottom-color: @btn-color-hover;
  }
  &:last-child {
    margin-right: 0;
  }
  i {
    margin-left: 6px;
  }
} 

.btn-main-menu {
  line-height: 35px;
  font-size: 1.7em;
  border: none;
  float: left;
  border: none !important;
}

.btn-share-board {
  border: 1px solid @btn-color;
  border-radius: 999px;
  &:hover {
    border-color: @btn-color-hover;
  }
}

.main-menu {
  margin-left: 7px;
  float: left;
  .btn {
    float: left;
  }
}

#session-info {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
  z-index: -1;
}
