/*****************************
* Canvas
*****************************/

.canvas {

}

.canvas-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @canvasBackgroundColor;
  overflow: hidden;
  width: auto;
}

.media-dropzone {
	background-color: rgba(0, 80, 120, 0.4);
	border-radius: 10px;
	height: 190px;
	left: -20px;
	position: absolute;
	top: -20px;
	width: 190px;
	z-index: -1
}

// .mediaContainer { box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px; cursor: move; position: absolute !important; }
// .mediaContainer .close { left: 5px; position: absolute; }

// .scope {
//   border: 1px dashed #ff2800;
//   border-radius: 20px;
//   cursor: move;
//   position: absolute;
// }
