extends layout

block scripts
  script(data-main="js/app",src="lib/requirejs/require.js")

block content

  div#canvas-wrapper.canvas-wrapper
    canvas.canvas#canvas

  div.media-dropzone

  p#session-info Please select or create a session

  div.bottom-toolbar
    button#btn-reset-view.btn.btn-reset-view
      i.fa.fa-arrows-alt
      | &nbsp;Fit items to screen
    button#btn-switch-draw-mode.btn
      i.fa.fa-pencil
      | &nbsp;
      span Start drawing
    button#btn-undo-draw.btn.hide
      i.fa.fa-undo
      | &nbsp;Undo drawing
    button#btn-cancel-draw.btn.hide
      i.fa.fa-ban
      | &nbsp;Cancel drawing
    .btn-group.dropup.pull-right
      button#btn-select-session.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        i.fa.fa-picture-o
        | &nbsp;Select session
      ul#dropdown-session.dropdown-menu.dropdown-menu-right(aria-labelledby="btn-select-session", style="min-width: 250px")
        li
          a#btn-create-session(href="#")
            i.fa.fa-plus(style="width: 25px")
            | &nbsp;Create new session
        li
          a#btn-delete-sessions(href="#")
            i.fa.fa-warning.text-danger(style="width: 25px")
            span.text-danger &nbsp;Delete all sessions
        li.divider(role="separator")

  //- Modals
  div#modal-upload.modal-upload.modal.hide.fade(role="dialog")
    div.modal-header
      h3 Uploading media
    div.modal-body
      p Please wait until all media is uploaded.
      div.upload-progress.progress
        div.bar(style="width: 0")

  div.modal-confirm-delete-all.modal.hide.fade(role="dialog")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 Confirm delete
    div.modal-body
      p Do you really want to delete all media?
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Cancel
      form.delete-all(action="/media/all", method="POST")
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger DELETE

  //- Splash Screen
  .splash-screen
    .loader
      .dot
      .dot
      .dot
      .dot
    .loading-message
      h2 Loading zoomboard
      p
        | Tip: Use
        code Space
        | and
        code Mouse
        | to 
        strong zoom and pan.
        br
        | The
        code up
        | and
        code down
        | keys will move objects 
        strong forward or backward.
        br
        | The
        code page up
        | and
        code page down
        | keys sends objects to the 
        strong front or back.
