extends layout

block content
  div#canvas-wrapper.canvas-wrapper
    //- div.dropzone
    canvas.canvas#canvas

  div.media-dropzone

  p#session-info Please select or create a session

  div.bottom-toolbar
    button#btn-reset-view.btn.btn-reset-view
      | Fit items to screen
      i.fa.fa-arrows-alt
    button#btn-switch-draw-mode.btn
      span Start drawing
      i.fa.fa-pencil
    button#btn-undo-draw.btn.hide
      | Undo drawing
      i.fa.fa-undo
    .btn-group.dropup.pull-right
      button#btn-select-session.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        | Select session
        i.fa.fa-picture-o
      ul#dropdown-session.dropdown-menu.dropdown-menu-right(aria-labelledby="btn-select-session")
        li
          a#btn-create-session(href="#")
            i.fa.fa-plus(style="width: 25px")
            | &nbsp;Create new session
        li
          a#btn-delete-sessions(href="#")
            i.fa.fa-warning.text-danger(style="width: 25px")
            span.text-danger &nbsp;Delete all sessions
        li.divider(role="separator")
      //- .btn.pull-right.btn-share-board
      //-  | share
      //-  i.fa.fa-share-square-o
      //- a.btn-delete-all.btn.btn-danger.pull-right(href="#modal-confirm-delete-all", role="button", data-toggle="modal")
      //-   i.fa.fa-trash-o
      //-   span &nbsp;Delete all

  //- Modals
  div#modal-upload.modal-upload.modal.hide.fade(role="dialog")
    div.modal-header
      h3 Uploading media
    div.modal-body
      p Please wait until all media is uploaded.
      div.upload-progress.progress
        div.bar(style="width: 0")

  div.modal-confirm-delete-all.modal.hide.fade(role="dialog")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 Confirm delete
    div.modal-body
      p Do you really want to delete all media?
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Cancel
      form.delete-all(action="/media/all", method="POST")
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger DELETE
