doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.min.css", media="screen")
    block scripts

  body
    block content

    //- if process.env.NODE_ENV == 'development'
    //-   script(src="http://0.0.0.0:35729/livereload.js?snipver=1")
