doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css", media="screen")
    script(data-main="js/app",src="lib/requirejs/require.js")

  body
    block content
    .splash-screen
      .loader
        .dot
        .dot
        .dot
        .dot
      .loading-message
        h2  Loading zoomboard
        p
          | Tip: Use
          code Space
          | and
          code Mouse
          | to zoom and pan

    if process.env.NODE_ENV == 'development'
      script(src="http://0.0.0.0:35729/livereload.js?snipver=1")
